.communityPage{

    h1{
        text-align: center;
        font-weight: 500;
        font-size: 38px;
        color: #0e9184;
        margin-bottom: 15px;
        margin-top: 40px;
    }


    .communityContainer{
    display: flex;
    width: 100%;
}
}

