.post {
    position: relative;
    left: 30px;
    width: 90%;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);


    .postContainer {
        padding: 10px;

        .write{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            margin: 20px 0px;

            .profileImgComment{
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }

            .sendCommentImg{
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
      
            input{
              flex:5;
              padding: 10px;
              border: 1px solid themed("border");
              background-color: transparent;
              color: themed("textColor");
              border: 2px solid rgb(210, 210, 210);
              border-radius: 10px;
            }

            input:hover{
                border: 2px solid #1dbf73;
            }

            input:focus{
                outline: 0;
                border: 2px solid #1dbf73;
            }
      
            // button{
            //   border: none;
            //   background-color: #5271ff;
            //   color: white;
            //   padding: 10px;
            //   cursor: pointer;
            //   border-radius: 3px;
            // }
          }

        .postTop {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postTopLeft {
                display: flex;
                align-items: center;

                .postProfileImg {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .postUsername {
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0 10px;
                }

                .postDate {
                    font-size: 12px;
                }
            }

            .postTopRight {

                .postTopRightImg {
                    width: 30px;
                    height: 30px;
                }

            }
        }

        .postCenter {
            margin: 20px 0;

            .postImg {
                margin-top: 20px;
                width: 100%;
                max-height: 500px;
                object-fit: contain;
            }

        }

        .postBottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postBottomLeft {
                display: flex;
                align-items: center;

                .likeIcon {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    cursor: pointer;
                }

                .postLikeCounter{
                    font-size: 15px;
                }
            }

            .postBottomRight{
                .item {
                    display: flex;
                    gap: 5px;
                    cursor: pointer;
                    font-size: 14px;
                    color: black;

                    .commentsImg{
                        width: 25px;
                        height: 25px;
                    }
                  }
            }
        }
    }

}