.sidebar-close-dashboard {
  margin-left: 100px !important;
}

.sidebar-open-dashboard {
  margin-left: 0px !important;
}

.main-container {
  padding: 20px;
  color: rgba(0, 0, 0, 0.95);
  margin-left: 220px;
  margin-top: 70px;

  .chartsContainer {
    .pieChart {
      margin-bottom: 200px;
      margin-left: 220px;

      // .MuiChartsLegend-series {
      //   display: none;
      // }
    }

    canvas {
      position: relative;
      bottom: 80px;
      left: 80px;
    }

    .lineChart {
      position: relative;
      bottom: 100px;
      left: 120px;
      margin-bottom: 100px !important;
    }
  }

  .dashboardTitle {
    text-align: center;
    color: #0e9184;
    font-size: 45px;
    font-weight: bold;
    line-height: 120px;
    margin-bottom: 20px;
    margin-left: 120px;
  }

  .main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 15px 0;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 8px 15px;
      border-radius: 5px;

      &:first-child {
        background-color: #2962ff;
      }

      &:nth-child(2) {
        background-color: #ff6d00;
      }

      &:nth-child(3) {
        background-color: #2e7d32;
      }

      &:nth-child(4) {
        background-color: #d50000;
      }

      .card-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >.card_icon {
          font-size: 25px;
        }
      }
    }
  }
}