.privacyPolicy{
    width: 1050px;
    h1{
        position: relative;
        top: 20px;
        font-weight: 650;
    }

      position: relative;
      left: 300px;
      margin-top: 40px;
      line-height: 26px;

      .privacyPolicyContainer{
        font-weight: 500;
      }
}


