.communityPage {
    .communityFilterHeader {
        text-align: center;
        font-weight: 500;
        font-size: 38px;
        color: #74767e;
        margin-bottom: 15px;
        margin-top: 40px;
    }
}